@import "tailwindcss";

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f5f5f0;
    color: #44403c;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #d6d3d1;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a8a29e;
}